.App {
  font-family: "Oxygen", sans-serif;
  height: auto;
  background: rgb(181, 191, 194);
  background: linear-gradient(
    260deg,
    rgba(181, 191, 194, 1) 17%,
    rgba(173, 167, 177, 1) 50%,
    rgba(207, 221, 223, 1) 100%,
    rgba(228, 216, 216, 1) 100%
  );
}
.bgcard {
  background-color:rgba(240, 116, 220, 0.5)
}
